h1 {
    text-align: center;
    margin-bottom: 10%;
}

.start-button {
    margin-left: 40%;
}

.header {
    float: right;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-top: 5%;
   
}

.answer1 {
    background-color: purple;
    color: white;
    
}

.timer {
    padding-left: 10px;
}

.container {
    clear: both;
    
}

.paragraph {
    line-height: 2em;
}

#submit {
    margin-top: 30px;
}

/* #initials-submit {
    display: inline;
} */

.initials-container {
    margin-top: 5%;
}

.restart-button {
    margin-top: 5%;
}