
body {
    background-image: url("halftone-yellow.png");
    background-size: cover;
    z-index: -1;
    
}

h1 {
    text-align: center;
    margin-bottom: 10%;
}

.start-button {
    margin-left: 40%;
}

h3 {
    font-size: 18px;
}

.header {
    float: right;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #fff;
    padding: 1%;
   
}

.answer1 {
    background-color: purple;
    color: white;
    
}

.timer {
    padding-left: 10px;
}

.container {
    clear: both;
    background-color: #fff;
    
}

.paragraph {
    line-height: 2em;
}

#submit {
    margin-top: 30px;
}

/* #initials-submit {
    display: inline;
} */

.initials-container {
    margin-top: 5%;
}

.restart-button {
    margin-top: 5%;
}

.start-page {
    padding: 10%;
}